body {
  margin: 0;
}

.wrapper {
  display: grid;
  column-gap: .5rem;
  row-gap: .5rem;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0 auto;
  /* max-width: 1200px; */
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "aside-main"
    "aside-sec"
    "footer";
}

.header {
  background-color: #45aaf2;
  grid-area: header;
}

.main {
  background-color: #a55eea;
  grid-area: main;
}

.sidebar {
  background-color: #2d98da;
  grid-area: sidebar;
}

.aside-main {
  background-color: #f7b731;
  grid-area: aside-main;
}

.aside-sec {
  background-color: #f7b731;
  grid-area: aside-sec;
}

.footer {
  background-color: #45aaf2;
  grid-area: footer;
}

@media(min-width: 768px) {
  .wrapper {
    /* grid-template-columns: repeat(6, 1fr); */
    /* refatorando o grid-template-columns
       para que o header ocupe toda largura da viewport */
    grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
    grid-template-rows: .5fr 2fr .5fr .5fr;
    grid-template-areas:
      "header header header header header header"
      ". main main main sidebar ."
      ". aside-main aside-main aside-sec aside-sec ."
      "footer footer footer footer footer footer";
  }
}