body {
  margin: 0;
}

.wrapper>* {
  padding: 1rem;
  margin: .5rem 0;
}

.header {
  background-color: skyblue;
  margin-top: 0;
}

.hero {
  background-color: mediumseagreen;
  height: 250px;
}

.highlights {
  display: grid;
  column-gap: .5rem;
  row-gap: .5rem;
  padding: 0;
}

.highlight {
  background-color: coral;
  min-height: 100px;
}

.main-content {
  background-color: royalblue;
  min-height: 150px;
}

.aside {
  background-color: goldenrod;
  padding: 0;
  min-height: 150px;
}

.footer {
  background-color: skyblue;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
    grid-template-columns: [full-start] 1fr [container-start] repeat(6, 1fr) [container-end] 1fr [full-end];
    height: 100vh;
  }

  .wrapper>* {
    grid-column: container-start / container-end;
  }

  .highlights {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
  }

  .grid-full {
    grid-column: full;
  }

  .expand-left {
    grid-column: full / container;
  }
}